*{
	/*CSS Reset*/

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*by default, css boxes adds
	padding on top of height and 
	width---content box.
	change to border box*/




#box1 {
	background-color: red;
	/*margin: 10px;*/
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 40px;
	/*border: 2px solid black;*/
	border-top: 2px solid black;
	border-left: 5px solid green;
	border-right: 10px solid orange;
	border-bottom: 2px solid black;
	/*padding: 10px;*/
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 20px;
	padding-bottom: 30px;

	/*
	height: 100px;
	width: 100px;*/
}

#box2 {
	background-color: orange;
	border: 2px solid black;
	height: 100px;
	width: 100px;
}

#box3 {
	background-color: green;
	border: 2px solid black;
	width: 100px;
}

#span1 {
	background-color: purple;
	border: 2px solid black;
	/*you cannot set height and width
	for inline elements, except img*/
	display: inline-block;
	height: 100px;
	width: 100px;
	/*margin: 20px;*/
	/*padding: 30px; --oveerlaps*/
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
}

#span2 {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: yellow;
	border: 2px solid black;
	vertical-align: top;
}

#box4 {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: pink;
	border: 2px solid black;
	vertical-align: top;
}