*{
	margin: 0;
	padding: 0;
	/*default font*/
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

nav {
	padding: 0.8rem;
	margin: 2rem;
	border-bottom: 1px solid gray;
}

/*multiple selector*/
nav .nav, nav .nav-logo {
	margin: 0.5 rem;
	display: inline;
}
/*intro section*/

#intro {
	/* 
		Percentage as measurements is a good 
		practice for mobile responsiveness 
	*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top:2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button {
																																															color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*info section*/

#succeed-info {
	padding: 2rem 10% 3rem;
}

#succeed-info {
	margin-bottom: 1rem;
}


#succeed-info .card {
	/*
	Inline-block elements are displayed side by side like inline elements.
	However, we can set the width and height for inline-block
	*/
	display: inline-block;
	/*border: 2px solid black;*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	vertical-align: top;
	min-height: 175px;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}


/*pre-footer*/


#pre-footer {
	padding: 1 rem;
	background-color: #002540;
	color: white;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}


/*Select all children of the div inside pre-footer*/

#pre-footer >div > *{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

/*footer*/
footer {
	padding: .7rem;
}

footer span {
	margin-left: .5rem;
	margin-right: .5rem;
}








