*{
	margin: 0;
	padding: 0;
	/*default font*/
	font-family: "Indie Flower", cursive;
	box-sizing: border-box;
}

nav {
	padding: 1rem;
	border-bottom: 1px solid gray;
	background-color: #BFD7EA;
	color: white;
}

nav .nav, nav .nav-logo {
	margin: 1.5rem;
	display: inline;
	padding-bottom: 2rem;
	vertical-align: middle;
}


nav .nav {
	background-color: #087E8B;
	padding: 7px;
	border: 1px solid white;
	border-radius: 10px;
}

#introduction {
	padding-left: 10%;
	padding-right: 10%;
	padding-top:3rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: lightslategrey;
}

.header {
	text-align: center;
	padding-top: 3rem;
	font-size: 70px;
	background-color: lightslategrey;
	color: white;
}

p {
	text-align: center;
	padding-top: .7rem;
	padding-bottom: 3rem;
	background-color: lightslategrey;
	color: white;
	
}

div {
	text-align: center;
	background-color: lightslategrey;
	padding-bottom: 2rem;
}

#introduction button {																																										color: white;
	background-color: #087E8B;
	border: 1px solid; whitesmoke;
	border-radius: 15px;
	font-size: 1rem;
	padding: .5rem;
